extends layouts/layout

block content
  h1 Add Name
  
  form(method='POST' action='/add-name')
    input(type='text' placeholder='Enter a name' name='name' value=name required) 
    button(type='submit') Add Name

  // Back button
  a(href='/' style='text-decoration: none; margin-top: 20px; display: inline-block; padding: 10px 15px; background-color: #3498db; color: white; border-radius: 5px;') Back to Home
